<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EasyCMSSql" connectionString="Server=.;Database=EasyCMS;User ID=sa;Password=admin147159;Trusted_Connection=False;Encrypt=false;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>